:root {
  --color-131518: #131518;
  --color-0E0E0E: #0e0e0e;
  --color-080416: #080416;
  --color-35383f: #35383f;
  --color-515660: #515660;
  --color-1b1d21: #1b1d21;
  --color-ffffff: #fff;
  --color-0d0e0e: #0d0e0e;
  --color-164AFF: #164aff;

  --color-ffffff-40: rgba(255, 255, 255, 0.4);
  --color-ffffff-60: rgba(255, 255, 255, 0.6);
}
